@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
  margin: 0;
  padding: 0;
}
#Company-name{
  font-family: 'Rancho', cursive;
  font-size: 10vmin;
}
#aboutus{
  font-size: 2.5rem;
  margin-left: 0.5rem;
  font-family: 'Rancho', cursive;
}
#brand{
  font-size: x-large;
  margin-left: 0.5rem;
  font-family: 'Rancho', cursive;
}
#company-name-footer{
  font-size: x-large;
  margin-left: 2.5rem;
  font-family: 'Rancho', cursive;
}
#aboutus,#download-app{
  color:#D62828;
}
#container{
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 50px;
  display: flex;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-items: center ;
}
ul{
  list-style: none;
}
#nav{
  margin-left: auto;
  margin-right: 0.5%;
}
#moto{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 5vmin;
}
header{
  width: 100%;
  background: url('./assets/Img/Therapy_Session.jpeg'); 
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom-right-radius: 50px;
}
#feature-header{
  color: #D62828;
}

#feature-odd,#feature-even{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 600px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 400px;
}
#feature-odd{
  background-color: #61D095;
}
#feature-even{
  background-color: #FED776;
}
.feature-even-color{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.feature-odd-color{
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
}
#info{
  color: #000;
  width: 100%;
  margin-top: 4%;
  font-size: 1.8rem;
}
#stores{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#doctors-even,#doctors-odd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
#doctors-even{
  background-color: #385898;
}
#doctors-odd{
  background-color: #61D095;
}
#client-feedback{
  background-color: #FED776;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
footer{
  background-color: #385898;
  border-top-left-radius: 50px;
  width: 100%;
}
a{
  cursor: pointer;
}
footer a{
  opacity: 0.8;

}
footer a:hover{
  opacity: 1;
}