@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green600: rgb(5 150 105);
  --green500: rgb(16 185 129);
  --gray500: rgb(120 113 108);
  --gray600: rgb(87 83 78);
  --yellow600: rgb(234 179 8);
  --yellow500: rgb(250 204 21);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#contact-btn {
  z-index: 10;
}
#Company-name {
  font-family: 'Rancho', cursive;
  font-size: 10vmin;
}
#aboutus {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  font-family: 'Rancho', cursive;
}
#brand {
  font-size: x-large;
  margin-left: 0.5rem;
  font-family: 'Rancho', cursive;
}
#company-name-footer {
  font-size: x-large;
  margin-left: 2.5rem;
  font-family: 'Rancho', cursive;
}
#aboutus,
#download-app {
  color: #d62828;
}
#container {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 50px;
  display: flex;
  height: 85vmin;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
ul {
  list-style: none;
}
#nav {
  margin-right: 0.5%;
}
#moto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 5vmin;
}
header {
  width: 100%;
  height: 85vmin;
  background: url('./assets/Img/Therapy_Session.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom-right-radius: 50px;
}
#feature-header {
  color: #d62828;
}

#feature-odd,
#feature-even {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 600px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 21rem;
}
#feature-odd {
  background-color: #61d095;
}
#feature-even {
  background-color: #fed776;
}
.feature-even-color {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.feature-odd-color {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
}
#info {
  color: #000;
  width: 100%;
  margin-top: 4%;
  font-size: 1.8rem;
}
#stores {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
#doctors-even,
#doctors-odd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 21rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#doctors-even {
  background-color: #385898;
}
#doctors-odd {
  background-color: #61d095;
}
#client-feedback {
  background-color: #fed776;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 21rem;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
footer {
  background: linear-gradient(to right, #00093c, #2d0b00);
  border-top-left-radius: 50px;
  width: 100%;
}
a {
  cursor: pointer;
}
footer a {
  opacity: 0.8;
}
footer a:hover {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  #stores {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  #stores:first-child {
    margin-top: 5%;
  }
}
#Admin-login {
  background: linear-gradient(to bottom, #00093c, #2d0b00);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#showPassword-icon:hover {
  cursor: pointer;
}

#application-row:hover {
  border-bottom: #000 2px solid;
  transition: linear 3s;
  -webkit-transition: ease-in 3s;
  -moz-transition: ease-in 3s;
  -ms-transition: ease-in 3s;
  -o-transition: ease-in 3s;
}
.link {
  opacity: 0.7;
  margin-left: auto;
  margin-right: 5%;
}
a {
  text-decoration: none !important;
}
.link:hover {
  opacity: 1;
}
.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
  }
  3.57143% {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
  }
  5.35714% {
    transform: translate(15px, 0);
    -webkit-transform: translate(15px, 0);
    -moz-transform: translate(15px, 0);
    -ms-transform: translate(15px, 0);
    -o-transform: translate(15px, 0);
  }
  7.14286% {
    transform: translate(-15px, 0);
    -webkit-transform: translate(-15px, 0);
    -moz-transform: translate(-15px, 0);
    -ms-transform: translate(-15px, 0);
    -o-transform: translate(-15px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}

/*  temporary class for video chating  */
#video-grid {
  display: grid;
  grid-template-columns: 300px 300px;
}
#video-grid video {
  width: 100%;
  object-fit: cover;
}

/* login -signup */
#role-login {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

#pic {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
}

.regstiration {
  color: rgba(0, 0, 0, 0.55) !important;
  margin-left: 10px;
  padding: 0.5rem 1rem;
  display: inline-block !important;
  transition-duration: 0.3s;
}
.nav-link {
  transition-duration: none;
}
.regstiration:hover {
  color: rgb(5 150 105) !important;
}
.row .form-check {
  padding-left: 0px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(5 150 105) !important;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link {
  transition: all;
  transition-duration: 0.3s;
}
.margin-left-anim {
  transition: all;
  transition-duration: 0.3s;
}
.margin-left-anim:hover {
  margin-left: -5px !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent !important;
}
.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #61d095;
  border-radius: 50%;
}
.float-left {
  margin-left: auto !important;
}
@media (min-width: 768px) {
}
@media (max-width: 768px) {
  .regstiration {
    padding: 0px;
  }
}

.modal-header button {
  background-color: white;
  font-size: 25px;
  border: none;
#my-article{
  width: 100%;
  height: vh;
  background-color: black;
}
#Article {
 
  width: 1500px;
  padding: 20px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #34495e;
  text-align: center;
  border-radius: 50px;
 
 
  

}

#headr input[type = "text"]{

  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #c0392b;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color:black;
  border-radius: 24px;
  transition: 0.25s;


}
#headr input[type = "text"]:focus{
  width: 400px;
  border-color: #0c2461;

}

.editor {
  margin-top: 1em;
  border-radius: 20;
  width: 100%;
  
}

.ck-editor__editable_inline {
  min-height: 700px;
  
}
